


/* ----------------------布局设置------------------------ */
.hy-container{
	display: flex;
	margin: 0 auto;
}
.hy-row{
	display: flex;
	height: 220px;
	width: 95%;
	margin-bottom: 6%;
	border-bottom:1px solid rgb(232, 234, 237);
}
.hy-col-12{
	flex:1 1 100%;
}
.hy-col-10{
	flex: 1 1 83.33%;
}
.hy-col-8{
	flex: 1 1 66.6%;
}
.hy-col-4{
	flex:1 1 33.3%;
}
.hy-margin-top30{
	margin-top:30px;
}
.hy-margin-10{
	margin:10px;
}

.hy-col-6{
	flex :1 1 50%;
}
.hy-col-4{
	flex:1 1 33.3%;
}
.hy-col-3{
	flex:1 1 25%;
}
.hy-col-2{
	flex:1 1 16.6%;
	background-color: #009688
}
.hy-col-1{
	flex:1 1 8.3%;
}


/* ----------------------对齐方式设置------------------------ */
/* flex横向布局对齐,横向居中,纵向居中 */
.hy-fx-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* flex横向布局的对齐,横向左对齐，纵向居中 */
.hy-fx-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* flex横向布局的对齐,横向右对齐，纵向居中 */
.hy-fx-right {
	justify-content: flex-end;
}

/* flex横向布局的对齐,横向两端对齐，纵向居中 */
.hy-fx-between {
	justify-content: space-between;
}

/* flex横向布局的对齐,横向均匀分布，纵向居中 */
.hy-fx-around {
	justify-content: space-around;
}

.hy-center{
	text-align: center;
}

/* 指定统一前缀的class样式 */
[class*='hy-fx'] {
	display: flex;
	align-items: center;
}

/* flex纵向布局的对齐,横向居中，纵向顶端对齐 */
.hy-fxc-top {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.hy-pos-relative{
	position: relative;
}
.hy-pos-absolute{
	position: absolute;
}
/* ----------------------------------- */

.hy-small-bottom{
	bottom: 20px;
}

.hy-small-row{
	height: 70px;
	width: 65%;
	margin-bottom: 5%;
	margin-top: 5%;
	border-radius: 4%;
	border: 1px solid rgb(238, 238, 238);
}
.hy-article-pic{
	width:100%;
	height:80%;
	border-radius:5%;
}
.hy-clo-user{
	width: 210px;
	height: 280px;
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(238, 238, 238);
	margin: 2%;
	margin-bottom: 5%;
	border-radius: 5%;
	position: relative;
}
.hy-col-user-row{
	margin-top:30px;
	display: flex;
	flex: 0 0 20%;
	flex-wrap: wrap;
}
.hy-col-user-pic{
	width:100%;
	height: 190px;
	border-radius:5%;
	position: absolute;
	border-radius: 1px solid  rgb(238, 238, 238);
	/* opacity: 0.8; */
}
.hy-col-user-smallpic{
	border-radius: 50%;
	width: 70px;
	height: 70px;
	position: absolute;
	bottom:50px;
	left:10px;
	border: 3px solid #fff;
}
.hy-col-user-nickname{
		position: absolute;
		bottom:30px;
		left:20px;
}
.hy-user-container-big{
	width: 70%;
	height: 450px;
	margin-left:40px;
}
	.hy-uses-container-small {
		width: 100%;
		background-color: rgb(224, 224, 224);
		height: 100%;
		display: flex;
		border-radius:2%;
	}

	.hy-user-img {
		width: 100%;
		height: 35%;
		margin: 20px;
	}

	.hy-user-basic-content {
		width: 70%;
		background-color: rgb(238, 238, 238);
		height: 30px;
		margin-top: 28px;
		margin-left: 50px;
		border-radius: 4%;
	}
	