/* 基础样式 规约统一前缀*/

/* ----------------------全局设置------------------------ */


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
a{
	text-decoration: none;
	color: rgb(117, 117, 117);
}
a:hover{
	color:rgb(33, 33, 33);
}
u{
	list-style: none;
}
